@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Renta de Galpones</h1>
    
    <img src="https://www.cec-epn.edu.ec/wp-content/sabai/File/files/l_b2fda921912387c2e77e0fdac67cb190.jpg" alt="Texto alternativo de la imagen">
</div>
